[submodule "case-study/aave-v3-origin-unoptimized/lib/openzeppelin-contracts"]
	path = case-study/aave-v3-origin-unoptimized/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
