[submodule "case-study/aave-v3-origin-unoptimized/lib/openzeppelin-contracts"]
	path = case-study/aave-v3-origin-unoptimized/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "case-study/conf/aave-v3-origin/lib/forge-std"]
	path = case-study/conf/aave-v3-origin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "case-study/conf/aave-v3-origin-liquidation-gas-fixes-main/lib/forge-std"]
	path = case-study/conf/aave-v3-origin-liquidation-gas-fixes-main/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
