# Efficient Loop Increment Proof

See Certora's result at https://prover.certora.com/output/480394/154be4945a514da199b3c8ab161afd3d?anonymousKey=623ca19c8638aac0c8419308e8258dfd4763d225