# Efficient Loop Increment Proof

See Certora's result at https://prover.certora.com/output/480394/bdb6e766795b44939a81c53fcc2da983