# Efficient Loop Increment Proof

See Certora's result at https://prover.certora.com/output/480394/9e666b5f4b1347d4a1999d29538ec24b