# Cache Member Variables proof

See Certora's result at https://prover.certora.com/output/480394/33fe66e10fd7440281891d772798e319