# Cache Member Variables proof

See Certora's result at https://prover.certora.com/output/480394/00ee2b1d8983444e8523889294d10c41