# Cache Member Variables

See Certora's result at https://prover.certora.com/output/480394/f623d11205434b5ca4720d8f59ef26b2?anonymousKey=70bbf1915c97624054bdd91ed76147df69896aed