# Cache Member Variables proof

See Certora's result at https://prover.certora.com/output/480394/bec50e76e1824038a7af0b94bdadc62d?anonymousKey=2affbd2eb13ce776da4763dc838526e5d238eb85