# Cache Member Variables proof

See Certora's result at https://prover.certora.com/output/480394/b594ce854a214e8aa1785ce780e2c592